source/company.team_files/_flows/example_13_trigger_flow.yml
id: example_13_trigger_flow
namespace: company.team

description: Trigger a flow once another flow is finished successfully

inputs:
  - id: from-parent
    type: STRING

tasks:
  - id: print_input
    type: io.kestra.core.tasks.debugs.Return
    format: "childs: {{inputs['from-parent']}}"

triggers:
  - id: listen-flow
    type: io.kestra.core.models.triggers.types.Flow
    inputs:
      from-parent: '{{ outputs.only.value }}'
    conditions:
      - type: io.kestra.core.models.conditions.types.ExecutionStatusCondition
        in:
          - SUCCESS
      - type: io.kestra.core.models.conditions.types.ExecutionFlowCondition
        namespace: company.team
        flowId: example_06_multiplecondition_flow_a